{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<div class="container mb-5">
  <form class="text-center font-weight-bold" method="POST">
    {{ form |crispy }} {% csrf_token %}
    <button class="btn btn-success w-100" name="form" type="submit">
      Add new inventory
    </button>
  </form>
</div>
<div class="container">
  <div class="row mb-3">
    {% for item in items %} {% if forloop.counter0|divisibleby:3 %}
  </div>
  <div class="row mb-3">
    {% endif %}
    <div class="col-md-4">
      <div class="card shadow-sm rounded">
        <div class="card-body">
          <h1>{{item.name}}</h1>
          <p>Total Product: {{item.products.count}}</p>
          <a
            href="{% url 'dashboard' item.inventory_id %}"
            class="btn btn-primary stretched-link col-12"
            >Go</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endblock content %}
</div>
